<!DOCTYPE html>

<html>
  <head> 
    <title>Rawan Alfaiz</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
  </head>

  <body>
    <div>
    <nav class="nav-bar nav-bar-item">
       <ul class="nav-bar-ul">
           <li class="nav-bar-il"><a href="#info">About Me </a></li>
           <li class="nav-bar-il"><a href="#skills">My Skills</a></li>
           <li class="nav-bar-il"><a href="#awards">Honores & Awards</a></li>
           <li class="nav-bar-il"><a href="#schedule'">Schedule</a></li>
       </ul> 
    </nav>
    </div>
    
    <header class="header">
        <img src="rrr.png" alt="Letter R"  style="float:right; padding: 0px 50px 0px 0px;">
        <!--src="https://cdn.dribbble.com/users/78594/screenshots/1902046/r.png"-->
        <h1>Welcome</h1>
        <h2>Let This Trip Begins</h2>
        <aside class="quote">“With Great Risk Comes Great Reward” – T. Jefferson</aside>
    </header>

    <section id="info" class="dark-background">
        <div class="container">
            <article class="col">
                <h3>Hello!</h3>
                <p class="text">Welcome to my website</p>
                <a href="#" class="link-btn">Link text</a>
            </article>
            <article class="col">
                <h3>About Me</h3>
                <p class="text">I love programming and I'm so good at it </p>
                <a href="#" class="link-btn">Link text</a>
            </article>
            <article class="col">
                <h3>Wanna Hire Me?</h3>
                <p class="text">pleasee send me an email </p>
                <a href="#" class="link-btn"> Link text</a>
            </article>
            <div class="clearfix"></div>
        </div>
    </section>

    <section id="skills">
        <div class="container col">
            <h3>Programming Languages & BI tools I Perfect</h3>
                <article class="service-box">
                <!--<img src="http://www.iconhot.com/icon/png/coded/128/sql-1.png" alt="sql" style="width:15%;height:15%;">-->
                <img class="img" src="http://www.iconhot.com/icon/png/coded/128/sql-1.png" alt="sql">
                <h4>SQL</h4>
                <p>My knowldege is srtong and advanced with more than 300 hours of programming in this language </p>
                </article>   
                <article class="service-box">
                <img class="img" src="https://2.bp.blogspot.com/-6HK889Et6gI/VVataahTjeI/AAAAAAAACtU/7ql5eUh5e40/s1600/code%2B228x172.png" alt="html & css">
                <h4>HTML & CSS</h4>
                <p>My knowldege is srtong and advanced with more than 300 hours of programming in this language </p>         
            </article>    
            <article class="service-box">
                <img class="img" src="http://www.iconhot.com/icon/png/coded/128/page-javascript.png" alt="js">
                <h4>Java Script</h4>
                <p>My knowldege is basic, and I'm working very hard on learing and perfecting programming with is language </p>
            </article>    
            <article class="service-box">
                <img class="img" src="https://raw.githubusercontent.com/isocpp/logos/master/cpp_logo.png" alt="c++">
                <h4>C++</h4>
                <p>My knowldege is srtong and advanced in this language</p>
            </article>
            <article class="service-box">
                <img class="img" src="https://www.rstudio.com/wp-content/uploads/2014/06/RStudio-Ball.png" alt="r studio">
                <h4>R Studio</h4>
                <p>My knowldege is srtong and advanced in this language and BI tool</p>
                <p>put a link about what is this tool</p>
            </article>
            <article class="service-box">
                <img class="img" src="https://www.fels.upenn.edu/sites/default/files/tableau_0.gif" alt="tableau">
                <h4>Tableau</h4>
                <p>My knowldege is srtong and advanced with this BI tool</p>
                <p>put a link about what is this tool</p>
            </article>
        </div>  
        <div class="clearfix"></div>  
     </section>

    <section id="awards" class="hr dark-background section-text award-name">
        <div class="container">
            <h3>Honores & Awards</h3>
            <hr>
            <article>
                <img src="https://static1.squarespace.com/static/54befd5ae4b0765281061fbc/57f8f947be6594fd88b7cf0c/57f8f9bcc534a5767e98b71f/1476408389573/UPE_Final.jpg" alt="(UPE)">
                <h4><b class="award-name">Upsilon Pi Epsilon</b></h4>
                <p class="section-text">An International Honor Society for the Computing and Information Disciplines, is the first honor society dedicated to the discipline of the computing and information disciplines.</p>
                
            </article>
            <article>
                 <img src="https://careerblog.du.edu/wp-content/uploads/sites/5/2014/11/deilogo.png" alt="(DEI)">
                <h4><b class="award-name">Delta Epsilon Iota</b></h4>
                <p class="section-text">The organization rewards outstanding students through financial scholarships, provide leadership opportunities to its members, and promotes the principles of Dedication, Enthusiasm, and Initiative among students participating in higher education throughout the United States.</p>
            </article>
        </div>
    </section>

    <section id="schedule" class="container">
        <h3>Schedule</h3>
        <h3>Schedule a Time Slot</h3>
    </section>

    <footer class="dark-background footer">
        <section>
            <h5>Contact Information</h5>
            <address class="address">rawan.alfaiz@outlook.com<br>Phone:949-394-2386</address>
            <h5>Follow Me</h5>
            <ul>
                <li class="link-footer"><a href="www.linkedin.com/in/rawan-alfaiz">LinkedIn</a></li>
                <li class="link-footer"><a href="#">GitHub</a></li>
            </ul>
            <hr>
         </section>
    </footer>
  </body>

</html>